#breadcrumbs {
  overflow: hidden;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 4rem;
}

#breadcrumbs a {
  color: inherit;
}

#breadcrumbs li {
  float: left;
  margin: 0 1em 1em 1em;
  list-style-type: none;
  background: #ddd;
  padding: .7em 1em;
  text-decoration: none;
  color: #444;
  position: relative;
  width: 170px;
  text-align: center;
  font-size: 13px;
  width: auto;
}

#breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1.08em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -.95em;
}


/* start completed*/
#breadcrumbs li.completed {
  background: #d9e8d5;
}

#breadcrumbs li.completed::before {
  border-color: #d9e8d5 #d9e8d5 #d9e8d5 transparent;
}

#breadcrumbs li.completed::after {
  border-left: 1em solid #d9e8d5;
}
/* end completed*/

/* start current*/
#breadcrumbs li.current {
  background: #4a4a4a;
  color: #fff;
}

#breadcrumbs li.current::before {
  border-color: #4a4a4a #4a4a4a #4a4a4a transparent;
}

#breadcrumbs li.current::after {
  border-left: 1em solid #4a4a4a;
}
/* end current*/

/* start disabled*/
#breadcrumbs li.disabled {
  background: #f2f2f2;
  color: #444;
}

#breadcrumbs li.disabled::before {
  border-color: #f2f2f2 #f2f2f2 #f2f2f2 transparent;
}

#breadcrumbs li.disabled::after {
  border-left: 1em solid #f2f2f2;
}
