.site-header {
  background-color: $color-primary-darkest;
  top: 0;
  left: 0;
  border-bottom: none;
  box-shadow: 0 4px 4px $color-gray;

  .usa-banner-inner {
    margin-left: 0;
  }

  .usa-nav-container {
    max-width: 100%;
  }

  .usa-logo {
    white-space: nowrap;

    @include media($nav-width) {
      top: 3.5rem;
      position: relative;

      .usa-logo-text {
        font-weight: 400;
        font-size: 2.1rem;
      }
    }

    a {
      color: $color-white;
    }
  }
}

.usa-navbar {
  border-bottom: none;
  @include media($nav-width) {
    height: 9.3rem;
  }
}

.usa-nav-primary {
  clear: right;

  li.info-item {
    span {
      padding-left: 20px;
    }

    a.usa-nav-link {
      padding-bottom: 10px;
      border-top: 1px solid $color-gray;
    }

    a.username {
        display: inline-block;
        margin: 0;
        padding: 9px;
        border-top: none;
    }
  }
}

@include media($nav-width) {
  .usa-nav {
    background: inherit;
    padding-top: 3.6rem;
  }

  .usa-nav-primary {
    color: $color-white;

    & > li {
      font-weight: normal;
      font-size: 1.7rem;
      color: $color-gray-lightest;
    }

    a.usa-nav-link {
      display: inline-block;
      color: $color-gray-lightest;
      padding: 0;
      margin-right: 25px;
      font-size: 1.7rem;
      font-weight: normal;
    }

    a:hover {
      background-color: inherit;
      text-decoration: underline;
    }

    a:active {
      box-shadow: none;
    }

    a.active {
      color: $color-white;
      font-weight: bold;
    }

    li.info-item {
      a.usa-nav-link {
        padding: 0;
        border: none;
      }
      span {
        padding-left: 0;
      }
      a.username {
        margin-right: 0;
      }
    }
  }
}
